# System informations to get multiwell running, please adjust:
# When adjusted, please copy to ~/.gausskitrc

[machine]
 gauss2multi_command = gauss2multi
 parsctst_command = parsctst
 bdens_command = bdens
 paradensum_command = mpirun -n 4 paradensum
 thermo_command = thermo
 mominert_command = mominert
 densum_command = densum
 multiwell_command = multiwell


